JWT_SECRET=
DATABASE_URL=
OTHER_CONFIG=
# Email settings (example for Gmail)
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=true
MAIL_USERNAME=your-email@gmail.com
MAIL_PASSWORD=your-app-password
MAIL_DEFAULT_SENDER=doyouevengif <your-email@gmail.com>
FRONTEND_URL=http://localhost:5173 # You can change this to your actual frontend URL when deployed
